- provide(:title, "Log in")

.jumbotron
  %h1 TA Assignment System
  %p{class:"text-center"} Department of Computer Science and Engineering
  %p{class:"text-center"} Texas A&M University

.row
  .col-xs-12
    // We will not hard code 2015 fall here in furture
    %h1{class:"text-center"}="Log in"

.row
  .col-md-6.col-md-offset-3
    = form_for(:session, url: login_path) do |f|
      = f.label :uin
      = f.text_field :uin, class: 'form-control'
      %br
      = f.label :password
      = f.password_field :password, class: 'form-control'
      %br
      = f.submit "Log in", class: "btn btn-primary btn-block"
      %br


.row
  .col-xs-6.col-md-offset-3
    %a.text-warning{:href => "/passwd"} Forget Password

%br