-
%h1 Edit TA Application


%table#students
  %thead
    %tr
      %th 'UIN'
      %th 'FIRST NAME' 
      %th 'LAST NAME'
      %th 'ADVISOR'
      %th 'DEGREE' 
      %th 'START SEMESTER' 
      %th 'GPA'
      %th 'POSITION' 
      %th 'COURSE TAKEN'
      %th 'COURSE TAED'
      %th 'PREFERED AREA' 
      %th 'PREFERED COURSE'
      %th 'STATUS' 
      %th 'ACTIVE TERM'
  %tbody
    %tr
      %td= @student.uin
      %td= @student.first_name
      %td= @student.last_name
      %td= @student.advisor
      %td= @student.degree
      %td= @student.start_semester
      %td= @student.gpa
      %td= @student.position
      %td= @student.course_taken
      %td= @student.course_taed
      %td= @student.preferred_area
      %td= @student.preferred_course
      %td= @student.status
      %td= @student.active_term

%br

= form_tag student_path(@student), :method => :put do

  = label :student, :course_taken, 'Course taken'
  = text_field :student, 'course_taken'
  %br

  = label :student, :course_taed, 'Course TAed'
  = text_field :student, 'course_taed'
  %br

  = label :movie, :preferred_area, 'Prefered Area'
  = text_field :student, 'preferred_area'
  %br

  = label :movie, :preferred_course, 'Prefered Courses'
  = text_field :student, 'preferred_course'
  %br

  = submit_tag 'Update Application Info'
  
%br
        
= link_to 'Back to Application Status', student_path(@student.id)