%p#notice=notice

.row
  .col-xs-12
    %h1{class:"text-left"}="Student Overview "

.row
  .col-xs-6=link_to "New Student Record",new_student_path,class:"btn btn-primary"

%hr
%table#students.table.table-striped
  %thead
    %tr
      %th Student UIN
      %th Name
      %th GPA
      %th Degree Program
      %th Active Term
      %th Status
  %tbody
    - @students.each do |student|
      %tr
        %td= student.uin
        %td= student.fullName()
        %td= student.gpa
        %td= student.degree
        %td= student.active_term
        %td
          - case student.status
            - when 1
              %span{class:"label label-default"}="Under Review"
            - when 2
              %span{class:"label label-primary"}="Position Assigned"
            - when 3
              %span{class:"label label-success"}="Confirmed"
            - else
              %span{class:"label label-danger"}="Unknown"

