%p#notice=notice

.row
  .col-xs-12
    %h1{class:"text-left"}="Student Overview "

.row
  .col-xs-6=link_to "New Student Record",new_student_path,class:"btn btn-primary"

%hr
%table#students.table.table-striped
  %thead
    %tr
      %th Student UIN
      %th Name
      %th GPA
      %th Degree Program
      %th Active Term
      %th Status
  %tbody
    - @students.each do |student|
      %tr
        %td= student.uin
        %td= student.fullName()
        %td= student.gpa
        %td= student.degree
        %td= student.active_term
        %td
          - case student.status
            - when Student::UNDER_REVIEW
              %span{class:"label label-default"}="Under Review"
            - when Student::TEMP_ASSIGNED
              %span{class:"label label-primary"}="Temporary Assigned"
            - when Student::EMAIL_NOTIFIED
              %span{class:"label label-primary"}="Email Notified"
            - when Student::STUDENT_CONFIRMED
              %span{class:"label label-success"}="Student Confirmed"
            - when Student::STUDENT_REJECTED
              %span{class:"label label-warning"}="Student Rejected"
            - when Student::ASSIGNED
              %span{class:"label label-success"}="Assigned"
            - else
              %span{class:"label label-danger"}="Unknown"

