-# file: app/views/users/new_application.html.haml

%p#notice=notice

.row
  .col-xs-12
    // We will not hard code 2015 fall here in furture
    %h1{class:"text-left"}="Edit TA Application For #{ApplicationPool::getAppPoolYearSemester @studentapplication.application_pool_id}"

%hr

.row
  .col-xs-12
    %h2{class:"text-left"}="Basic Information"

.row
  .col-xs-3
    %p Name:
  .col-xs-6
    %p= @user.name

.row
  .col-xs-3
    %p Uin:
  .col-xs-6
    %p= @user.uin

.row
  .col-xs-3
    %p Email:
  .col-xs-6
    %p= @user.email

.row
  .col-xs-3
    %p Degree Program:
  .col-xs-6
    %p= @user.identity

.row
  .col-xs-3
    %p Start Semester:
  .col-xs-6
    %p= @user.start_semester

%hr
.row
  .col-xs-12
    %h2{class:"text-left"}="TA Application Form"

.row
  .col-md-10.col-md-offset-1
    = form_for @studentapplication, url:{action:"update_ta_application", :app_id => @studentapplication.id}, html:{class:"update_ta_application_form"} do |f|
      .form-group
        %label{:for => "student_advisor"} Advisor
        = f.text_field(:advisor, {placeholder:"Name of your advisor ", class:"form-control"})
      .form-group
        %label{:for => "student_gpa"} GPA
        = f.text_field(:gpa, {placeholder:"Enter your GPA", class:"form-control"})
      .form-group
        %label{:for => "student_course_taken"} Courses Taken
        = f.text_area(:course_taken, {placeholder:"Enter the courses that you have already taken", class:"form-control"})
      .form-group
        %label{:for => "student_course_taed"} Courses TAed before
        = f.text_area(:course_taed, {placeholder:"Enter the courses that you have TAed before", class:"form-control"})
      .form-group
        %label{:for => "student_preferred_area"} Prefered Areas
        = f.text_area(:preferred_area, {placeholder:"Enter the area that you feel comfortable to TA", class:"form-control"})
      .form-group
        %label{:for => "student_preferred_course"} Prefered Courses
        = f.text_area(:preferred_course, {placeholder:"Enter the courses that you would like to or are able to TA", class:"form-control"})
      .form-group
        %label{:for => "student_note"} Notes
        = f.text_area(:note, {placeholder:"Enter additional notes that is helpful for TA assignment", class:"form-control"})
      = f.submit("Update", {class:"btn btn-primary"})

%br
.row
  .col-xs-1
  .col-xs-10
    =link_to 'Back to User Information', user_path(@user)