
<div class="row">
  <div class="col-xs-12">
    <h1 class="text-left">Welcome! Professor <%= @lecturer.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default remove-margin pseudo-table-heading">
      <!-- .panel-heading Panel heading without title
      -->
      <div class="panel-body">
        <div class="col-xs-4">
          <b>Course ID</b>
        </div>
        <div class="col-xs-8">
          <b>Course Name</b>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div aria-multiselectable="true" class="panel-group" role="tablist" id="tablelist">
      <!--/ .panel-default as table row
      -->
      <% @courselist.each do |course| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <div aria-controls="showtadetail<%= course.id %>" aria-expanded="true" class="row" id="heading<%= course.id %>">
              <div class="col-xs-4 td">
                <%= course.id %>
              </div>
              <div class="col-xs-8 td">
                <%= course.name %>
              </div>
            </div>
          </div>
        </div>
        
          <div class="panel" aria-labelledby="heading#{course.id}" role="tabpanel" id="showtadetail<%= course.id %>">
            <div class="panel-body">
              <div class="col-xs-10 col-xs-offset-1">
                <u1 class="list-group">
                  <li class="list-group-item">
                    <b>Current Assigned TA</b>
                  </li>
                </u1>
              </div>
              <div class="col-xs-10 col-xs-offset-1">
                <% if @courses_ta[course.id].length() > 0 %>
                <u1 class="list-group">
                  <% @courses_ta[course.id].each do |ta| %>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-xs-3">
                        <a data-toggle="modal"  data-target="#myModal-<%= course.id %>-<%= ta.id %>">
                        <%= ta.fullName() %>
                        </a>
                      </div>
                      <div class="col-xs-3">
                        <% case @ta_status[course.id][ta.id]['position']
                          when AppCourseMatching::FULLTA %>
                        Full TA
                        <% when AppCourseMatching::HALFTA %>
                        Half TA
                        <% end %>
                      </div>
                      <div class="col-xs-4"> 
                        <% case @ta_status[course.id][ta.id]['status']
                          when StudentApplication::UNDER_REVIEW %> 
                        <span class="label label-default">Under Review</span>
                        <% when StudentApplication::TEMP_ASSIGNED %>
                        <span class="label label-primary">Temporary Assigned</span>
                        <% when StudentApplication::EMAIL_NOTIFIED %>
                        <span class="label label-primary">Email Notified</span>
                        <% when StudentApplication::STUDENT_CONFIRMED %>
                        <span class="label label-success">Student Confirmed</span>
                        <% when StudentApplication::STUDENT_REJECTED %>
                        <span class="label label-warning">Student Rejected</span>
                        <% when StudentApplication::ASSIGNED %>
                        <span class="label label-success">Assigned</span>
                        <% else %>
                        <span class="label label-danger">Unknown</span>
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <% end %>
                </u1>
                <% else %>
                <div class="col-xs-10 col-xs-offset-1">
                  <u1 class="list-group">
                    <li class="list-group-item">
                      <p>No TA assigned yet for this course</p>
                    </li>
                  </u1>
                </div>
                </u1>
                <% end %>
                <div class="divide30">
                </div>
                <hr></hr>
                <div class="row">
                  <div class="col-xs-6 col-xs-offset-1">
                    Your suggestion of TA for this course: <%= simple_format "\n" %>
                    <b><%= @suggestion[course.id] %></b>
                  </div>
                  <div class="col-xs-3">
                    <a href="<%= delete_suggestion_path(course.id) %>" class="btn btn-warning">Delete Suggestion</a>
                  </div>
                  <div class="col-xs-1">
                    <a href="<%= suggest_ta_path :id => @user.id, :courseid => course.id %>" class="btn btn-primary">Suggest new TA</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
      <% end %>
    </div>
  </div>
</div>

<% @courselist.each do |course| %>
<% if @courses_ta[course.id] %>
<% @courses_ta[course.id].each do |student| %>
<div class="modal fade" id="myModal-<%= course.id %>-<%= student.id %>" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"><
        <h2><%= student.fullName()+"'s Application Form" %>
          <div class="modal-body">
            <table id="student" class="table table-striped">
              <thead>
                <tr>
                  <th>Field</th>
                  <th>Info</th>
                </tr>
                <tbody>
                  <tr>
                    <td>UIN</td>
                    <td><%= student.uin %></td>
                  </tr>
                  <tr>
                    <td>Name</td>
                    <td><%= student.fullName() %></td>
                  </tr>
                  <tr>
                    <td>Advisor</td>
                    <td><%= student.advisor %></td>
                  </tr>
                  <tr>
                    <td>Degree</td>
                    <td>
                      <% case student.degree
                        when StudentApplication::UNDERGRAD %>
                      Undergraduate
                      <% when StudentApplication::MENG %>
                      M.Eng
                      <% when StudentApplication::MS %>
                      MS
                      <% when StudentApplication::PHD %>
                      PHD
                      <% end %>
                  <tr>
                    <td>GPA</td>
                    <td><%= student.gpa %></td>
                  </tr>
                  <tr>
                    <td>Course Taken</td>
                    <td><%= student.course_taken%></td>
                  </tr>
                  <tr>
                    <td>Course TAed</td>
                    <td><%= student.course_taed %></td>
                  </tr>
                </tbody>
              </thead>
            </table>
          </div>
        </h2>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% end %>

              