
.row
  .col-xs-12
    %h1{class:"text-left"}="Create New User"

%hr

.row
  .col-md-10.col-md-offset-1
    = form_for @user, url:{action:"create"}, html:{class:"new_user_form"} do |f|
      .form-group
        %label{:for => "user_first_name"} First Name
        = f.text_field(:first_name, {placeholder:"Enter the first name of the user", class:"form-control"})
      .form-group
        %label{:for => "user_last_name"} Last Name
        = f.text_field(:last_name, {placeholder:"Enter the first name of the user", class:"form-control"})
      .form-group
        %label{:for => "user_uin"} UIN
        = f.text_field(:uin, {placeholder:"Enter the UIN of the user", class:"form-control"})
      .form-group
        %label{:for => "user_email"} Email
        = f.text_field(:email, {placeholder:"Enter the Email of the user", class:"form-control"})
      .form-group
        %label{:for => "user_identity"} Identity
        %select#user_identity.form-control{:name => "user[identity]"}
          %option{:value => "ADMIN", :selected => @user.identity == "ADMIN"} ADMIN
          %option{:value => "FACULTY", :selected => @user.identity == "FACULTY"} FACULTY
          %option{:value => "PHD", :selected => @user.identity == "PHD"} PHD
          %option{:value => "MS", :selected => @user.identity == "MS"} MS
          %option{:value => "MENG", :selected => @user.identity == "MENG"} MENG
      .form-group
        %label{:for => "user_start_semester"} Start Semester
        = f.text_field(:start_semester, {placeholder:"Enter the Start Semester of the user", class:"form-control"})
      .form-group
        %label{:for => "user_elpe"} ELPE
        = f.text_field(:elpe, {placeholder:"Enter the ELPE grade of the user", class:"form-control"})
      .form-group
        %label{:for => "user_guaranteed"} Guaranteed for TA
        %select#user_guaranteed.form-control{:name => "user[guaranteed]"}
          %option{:value => true, :selected => @user.guaranteed == true} Yes
          %option{:value => false, :selected => @user.guaranteed == false} No
      .form-group
        %label{:for => "user_password"} Password
        = f.password_field(:password, {placeholder:"Enter the password", class:"form-control"})
      .form-group
        %label{:for => "user_password_confirmation"} Password Confirmation
        = f.password_field(:password_confirmation, {placeholder:"Enter the confirmation", class:"form-control"})
      
      = f.submit("Create", {class:"btn btn-primary"})

%br

.row
  .col-md-10.col-md-offset-1
    = link_to 'Back to users list', users_path