%p#notice=notice

.row
  .col-xs-12
    %h1{class:"text-left"}="User Information Page"

%hr
.row
  .col-xs-12
    %h2{class:"text-left"}="Basic Information"

.row
  .col-xs-3
    %p Username:
  .col-xs-6
    %p= @user.name

.row
  .col-xs-3
    %p Uin:
  .col-xs-6
    %p= @user.uin

.row
  .col-xs-3
    %p Email:
  .col-xs-6
    %p= @user.email

=link_to 'Edit', edit_user_path(@user)

%hr
.row
  .col-xs-12
    %h2{class:"text-left"}="Current Active Application Window"

%table#userapplications.table.table-striped
  %thead
    %tr
      %th Year
      %th Semester
      %th Due Date
      %th Action
  %tbody
    -@application_pools.each do |application_pool|
      %tr
        %td= application_pool.year
        %td= application_pool.semester
        %td= application_pool.deadline
        %td 
          -if not @studentapplications.has_key?(application_pool.id)
            =link_to('Apply', new_application_path(:id => @user.id, :term_id => application_pool.id), class:"btn btn-primary btn-xs")
          -else
            =link_to('Show', "#myModal", "data-toggle" => "modal",  "data-target" => "#myModal-#{application_pool.id}", class:"btn btn-primary btn-xs")+ ' / '  + link_to('Edit', edit_ta_application_path(:id => @user.id, :app_id => @studentapplications[application_pool.id].id), class:"btn btn-primary btn-xs")  + ' / '  + link_to('Withdraw', withdraw_student_application_path(:id => @user.id, :app_id => @studentapplications[application_pool.id].id),class:"btn btn-primary btn-xs", "data-confirm" => "Withdraw application for #{application_pool.year} #{application_pool.semester}?")


= link_to 'Back', users_path

- @studentapplications.each do |key, val|
  %div{class:"modal fade", "id" => "myModal-#{key}", "tabindex" => "-1", "role" => "dialog",  "aria-labelledby" => "myModalLabel"}
    %div{class:"modal-dialog", :role => "document"}
      %div{class:"modal-content"}
        %div{class:"modal-header"} 
          %h2 #{val.fullName()}'s Application Form
        %div{class:"modal-body"}
          %table#studentapplication.table.table-striped
            %thead
              %tr
                %th Field
                %th Info
            %tbody
              %tr
                %td UIN
                %td= val.uin
              %tr
                %td Name
                %td= val.fullName()
              %tr
                %td Advisor
                %td= val.advisor
              %tr
                %td Degree
                %td
                  - case val.degree
                    - when StudentApplication::UNDERGRAD
                      Undergraduate
                    - when StudentApplication::MENG
                      M.Eng
                    - when StudentApplication::MS
                      MS
                    - when StudentApplication::PHD
                      PHD
              %tr
                %td GPA
                %td= val.gpa
              %tr
                %td Course Taken
                %td= val.course_taken
              %tr
                %td Course TAed
                %td= val.course_taed