.row
  .col-xs-12
    %h1{class:"text-left"}="User Information Page"

%hr
.row
  .col-xs-12
    %h2{class:"text-left"}="Basic Information"

.row
  .col-xs-3
    %p Name:
  .col-xs-6
    %p= @user.name

.row
  .col-xs-3
    %p Uin:
  .col-xs-6
    %p= @user.uin

.row
  .col-xs-3
    %p Email:
  .col-xs-6
    %p= @user.email

-if not @user.identity == "FACULTY"
  .row
    .col-xs-3
      %p Degree Program:
    .col-xs-6
      %p= @user.identity

  .row
    .col-xs-3
      %p Start Semester:
    .col-xs-6
      %p= @user.start_semester

=link_to 'Edit', edit_user_path(@user)

-if not @studentapplications.empty?
  %hr
  .row
    .col-xs-12
      %h2{class:"text-left"}="Assignment Status"
  -@application_pools.each do |application_pool|
    -if not @studentapplications.has_key?(application_pool.id)
      .row
        .col-xs-1
          %p= application_pool.year
        .col-xs-1
          %p= application_pool.semester
        .col-xs-2 
          %span{class:"label label-default"}="Not Applied"
    -else
      -if not @application_status.has_key?(application_pool.id)
        .row
          .col-xs-1
            %p= application_pool.year
          .col-xs-1
            %p= application_pool.semester
          .col-xs-2 
            %span{class:"label label-default"}="Under Review"
      -else
        -@application_status[application_pool.id].each do |status|
          .row
            .col-xs-1
              %p= application_pool.year
            .col-xs-1
              %p= application_pool.semester
            .col-xs-2
              =status['Course']
            .col-xs-2
              -case status['Position']
                -when AppCourseMatching::FULLTA
                Full TA
                -when AppCourseMatching::HALFTA
                Half TA
            .col-xs-2
              -case status['Status']
                - when StudentApplication::TEMP_ASSIGNED
                %span{class:"label label-primary"}="Temporary Assigned"
                - when StudentApplication::EMAIL_NOTIFIED
                %span{class:"label label-primary"}="Temporary Assigned"
                - when StudentApplication::STUDENT_CONFIRMED
                %span{class:"label label-success"}="Student Confirmed"
                - when StudentApplication::STUDENT_REJECTED
                %span{class:"label label-warning"}="Student Rejected"
                - when StudentApplication::ASSIGNED
                %span{class:"label label-success"}="Assigned"
                - else
                %span{class:"label label-danger"}="Unknown"
            -if status['Status'] == StudentApplication::EMAIL_NOTIFIED
              .col-xs-2
                =link_to('Accept', accept_ta_assignment_path(:id => @user.id, :match_id => status['Matching_id'])) + ' / ' + link_to('Reject', reject_ta_assignment_path(:match_id => status['Matching_id']))



%hr
.row
  .col-xs-12
    %h2{class:"text-left"}="Current Active Application Window"

-if @available_application_pool
  %table#userapplications.table.table-striped
    %thead
      %tr
        %th Year
        %th Semester
        %th Due Date
        %th Action
    %tbody
      -@application_pools.each do |application_pool|
        -if application_pool.canApply
          %tr
            %td= application_pool.year
            %td= application_pool.semester
            %td= application_pool.deadline
            %td 
              -if not @studentapplications.has_key?(application_pool.id)
                =link_to('Apply', new_application_path(:id => @user.id, :term_id => application_pool.id), class:"btn btn-primary btn-xs")
              -else
                =link_to('Show', "#myModal", "data-toggle" => "modal",  "data-target" => "#myModal-#{application_pool.id}", class:"btn btn-primary btn-xs")+ ' / '  + link_to('Edit', edit_ta_application_path(:id => @user.id, :app_id => @studentapplications[application_pool.id].id), class:"btn btn-primary btn-xs")  + ' / '  + link_to('Withdraw', withdraw_student_application_path(:id => @user.id, :app_id => @studentapplications[application_pool.id].id),class:"btn btn-primary btn-xs", "data-confirm" => "Withdraw application for #{application_pool.year} #{application_pool.semester}?")
-else
  %tr
    %td No TA application is available

%br
%br

- @studentapplications.each do |key, val|
  %div{class:"modal fade", "id" => "myModal-#{key}", "tabindex" => "-1", "role" => "dialog",  "aria-labelledby" => "myModalLabel"}
    %div{class:"modal-dialog", :role => "document"}
      %div{class:"modal-content"}
        %div{class:"modal-header"} 
          %h2 #{val.fullName()}'s Application Form
        %div{class:"modal-body"}
          %table#studentapplication.table.table-striped
            %thead
              %tr
                %th Field
                %th Info
            %tbody
              %tr
                %td Name
                %td= val.fullName()
              %tr
                %td UIN
                %td= val.uin
              %tr
                %td Email
                %td= val.email
              %tr
                %td Degree
                %td=val.degree
              %tr
                %td Advisor
                %td= val.advisor
              %tr
                %td GPA
                %td= val.gpa
              %tr
                %td Course Taken
                %td= val.course_taken
              %tr
                %td Course TAed Before
                %td= val.course_taed
              %tr
                %td Prefered Areas
                %td= val.preferred_area
              %tr
                %td Prefered Courses
                %td= val.preferred_course
              %tr
                %td Notes
                %td= val.note
              