-# file: app/views/courses/edit.html.haml


.row
  .col-xs-12
    %h1{class:"text-left"}="Edit Course #{@course.name}"

%hr
        
.row
  .col-md-10.col-md-offset-1
    = form_for @course, url:{action:"update"}, html:{class:"update_course_form"} do |f|
      .form-group
        %label{:for => "course_cid"} Course ID
        = f.text_field(:cid, {placeholder:"Enter the course ID", class:"form-control"})
      .form-group
        %label{:for => "course_section"} Section
        = f.text_field(:section, {placeholder:"Enter the course section", class:"form-control"})
      .form-group
        %label{:for => "course_name"} Course Name
        = f.text_field(:name, {placeholder:"Enter the course name", class:"form-control"})
      .form-group
        %label{:for => "credis"} Credits
        = f.text_field(:credits, {placeholder:"Enter Credits of the course", class:"form-control"})
      .form-group
        %label{:for => "course_lecturer"} Lecturer UIN
        = f.text_field(:lecturer_uin, {placeholder:"Lecturer UIN", class:"form-control"})
      .form-group
        %label{:for => "course_area"} Area
        %select#course_area.form-control{:name => "course[area]"}
          %option{:value => "Theory", :selected => @course.area == "Theory"} Theory
          %option{:value => "System", :selected => @course.area == "System"} System
          %option{:value => "Artificial Intelligence", :selected => @course.area == "Artificial Intelligence"} Artificial Intelligence
      / / student[start_semester] is string typed
      / .form-group
      /   %label{:for => "student_start_semester"} Entering semester
      /   %select#student_start_semester.form-control{:name => "student[start_semester]"}
      /     - utitilies[:semesters].each do |semester_literal|
      /       %option{:value => semester_literal}= semester_literal
      / .form-group
      /   %label{:for => "student_gpa"} GPA
      /   = f.text_field(:gpa, {placeholder:"Enter your GPA", class:"form-control"})
      = f.submit("Update", {class:"btn btn-primary"})
      = f.submit("Cancel", {class:"btn btn-primary"})
      = f.submit("Delete", {class:"btn btn-danger"})
        
      
