-# file: app/views/courses/index.html.haml

.row
  .col-xs-12
    // We will not hard code 2015 fall here in furture
    %h1{class:"text-left"}="2015 Fall Course Overview "

.row
  .col-xs-6
    =link_to "New Course",new_course_path,class:"btn btn-primary"
    =link_to "Import",upload_path(:id => 0),class:"btn btn-primary"
   

.divide20

.row
  .col-xs-12
    .panel.panel-default.remove-margin.pseudo-table-heading
      / .panel-heading Panel heading without title
      .panel-body
        .col-xs-1
          %b Semester
        .col-xs-1 
          %b Course ID
        .col-xs-4 
          %b Course Name
        .col-xs-2 
          %b Confirmed / Designated
        .col-xs-3 
          %b Lecturer
        .col-xs-1 
          %b Operations

.row
  .col-xs-12
    #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      
      // .panel-default as table row
      - @courses.each do |course|

        .panel.panel-default  
          .panel-heading{:role => "tab"}
            .row{"aria-controls" =>"collapse#{course.id}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", "data-target" => "#collapse#{course.id}", :role => "button", :id=> "heading#{course.id}"}
              .col-xs-1.td=ApplicationPool::getAppPoolYearSemester(course.application_pool_id)
              .col-xs-1.td=course.cid
              .col-xs-4.td=course.name
              .col-xs-2.td="#{@SlotStatus[course.id][:assigned] } / #{@SlotStatus[course.id][:slots] }"
              .col-xs-3.td=course.lecturer
              .col-xs-1.td
                %a.btn.btn-default.btn-sm.edit-op-btn{:href=> edit_course_path(course.id) ,"data-toggle" =>"tooltip", "data-placement" => "bottom", "data-title" => "Edit", id:"edit-#{course.id}"}
                  %span.glyphicon.glyphicon-edit
                

          .panel-collapse.collapse{"aria-labelledby" => "heading#{course.id}", :role => "tabpanel", :id=> "collapse#{course.id}"}
            .panel-body
              .row
                .col-xs-10.col-xs-offset-1
                  - if @courses_ta[course.id].length() > 0
                    %ul.list-group

                      -@courses_ta[course.id].each do |ta|

                        %li.list-group-item{id:"tali-#{course.id}-#{ta.id}"}
                          .row
                            .col-xs-2
                              %a{ "data-toggle" => "modal",  "data-target" => "#myModal-#{course.id}-#{ta.id}"}=ta.fullName()
                            .col-xs-2
                              -case @ta_status[course.id][ta.id]['position']
                                -when AppCourseMatching::FULLTA
                                Full TA
                                -when AppCourseMatching::HALFTA
                                Half TA
                            .col-xs-3 
                              - case @ta_status[course.id][ta.id]['status']
                                - when StudentApplication::UNDER_REVIEW
                                  %span{class:"label label-default"}="Under Review"
                                - when StudentApplication::TEMP_ASSIGNED
                                  %span{class:"label label-primary"}="Temporary Assigned"
                                - when StudentApplication::EMAIL_NOTIFIED
                                  %span{class:"label label-primary"}="Email Notified"
                                - when StudentApplication::STUDENT_CONFIRMED
                                  %span{class:"label label-success"}="Student Confirmed"
                                - when StudentApplication::STUDENT_REJECTED
                                  %span{class:"label label-warning"}="Student Rejected"
                                - when StudentApplication::ASSIGNED
                                  %span{class:"label label-success"}="Assigned"
                                - else
                                  %span{class:"label label-danger"}="Unknown"
                            .col-xs-5=link_to('Email', email_ta_notification_path(:id => course.id, :student_application_id => ta.id), {:class=>"email-link", "data-target"=>"#tali-#{course.id}-#{ta.id}"}) +' / ' + link_to('Confirm', confirm_ta_path(:id => course.id, :ta_id => ta.id),{:class=>"confirm-link","data-target"=> "#tali-#{course.id}-#{ta.id}"}) +' / ' +link_to('Delete', delete_ta_path(:id => course.id, :ta_id => ta.id), {:class => "delete-link", "data-target"=> "#tali-#{course.id}-#{ta.id}"})
                  - else
                    %p No TA assigned yet for this course
                  - if @courses_suggestion.has_key?(course.id)
                    %p Requested students:
                    %ul.list-group

                      -@courses_suggestion[course.id].each do |ta|

                        %li.list-group-item{id:"tali-#{course.id}-#{ta.id}"}
                          .row
                            .col-xs-2
                              %a{ "data-toggle" => "modal",  "data-target" => "#myModal-suggest-#{course.id}-#{ta.id}"}=ta.fullName()
                  - else
                    %p No TA requested yet by this lecturer
                            

              .divide30
              .row
                .col-xs-1.col-xs-offset-10
                  %a{:href => select_new_ta_path(course.id), :class => "btn btn-primary add-new-ta" ,"data-toggle-target"=>"#collapse#{course.id}"} Add new TA

.row
  .col-xs-6
    =link_to("Drop All",drop_all_path(:id => 0),class:"btn btn-danger")


// BOWEI TODO: This will introduce performance issue when in production.
- @courses.each do |course|
  -if @courses_ta[course.id]
    -@courses_ta[course.id].each do |student|
      %div{class:"modal fade", "id" => "myModal-#{course.id}-#{student.id}", "tabindex" => "-1", "role" => "dialog",  "aria-labelledby" => "myModalLabel"}
        %div{class:"modal-dialog", :role => "document"}
          %div{class:"modal-content"}
            %div{class:"modal-header"} 
              %h2 #{student.fullName()}'s Application Form
            %div{class:"modal-body"}
              %table#student.table.table-striped
                %thead
                  %tr
                    %th Field
                    %th Info
                %tbody
                  %tr
                    %td Name
                    %td= student.fullName()
                  %tr
                    %td UIN
                    %td= student.uin
                  %tr
                    %td Email
                    %td= student.email
                  %tr
                    %td Degree
                    %td=student.degree
                  %tr
                    %td Advisor
                    %td= student.advisor
                  %tr
                    %td GPA
                    %td= student.gpa
                  %tr
                    %td Course Taken
                    %td= student.course_taken
                  %tr
                    %td Course TAed Before
                    %td= student.course_taed
                  %tr
                    %td Prefered Areas
                    %td= student.preferred_area
                  %tr
                    %td Prefered Courses
                    %td= student.preferred_course
                  %tr
                    %td Notes
                    %td= student.note

  -if @courses_suggestion[course.id]
    -@courses_suggestion[course.id].each do |student|
      %div{class:"modal fade", "id" => "myModal-suggest-#{course.id}-#{student.id}", "tabindex" => "-1", "role" => "dialog",  "aria-labelledby" => "myModalLabel"}
        %div{class:"modal-dialog", :role => "document"}
          %div{class:"modal-content"}
            %div{class:"modal-header"} 
              %h2 #{student.fullName()}'s Application Form
            %div{class:"modal-body"}
              %table#student.table.table-striped
                %thead
                  %tr
                    %th Field
                    %th Info
                %tbody
                  %tr
                    %td Name
                    %td= student.fullName()
                  %tr
                    %td UIN
                    %td= student.uin
                  %tr
                    %td Email
                    %td= student.email
                  %tr
                    %td Degree
                    %td=student.degree
                  %tr
                    %td Advisor
                    %td= student.advisor
                  %tr
                    %td GPA
                    %td= student.gpa
                  %tr
                    %td Course Taken
                    %td= student.course_taken
                  %tr
                    %td Course TAed Before
                    %td= student.course_taed
                  %tr
                    %td Prefered Areas
                    %td= student.preferred_area
                  %tr
                    %td Prefered Courses
                    %td= student.preferred_course
                  %tr
                    %td Notes
                    %td= student.note