-# file: app/views/courses/index.html.haml

%p#notice=notice

.row
  .col-xs-12
    // We will not hard code 2015 fall here in furture
    %h1{class:"text-left"}="2015 Fall Course Overview "

.row
  .col-xs-6=link_to "New Course",new_course_path,class:"btn btn-primary"

.divide20

.row
  .col-xs-12
    .panel.panel-default.remove-margin.pseudo-table-heading
      / .panel-heading Panel heading without title
      .panel-body
        .col-xs-1 
          %b Course ID
        .col-xs-4 
          %b Course Name
        .col-xs-2 
          %b Confirmed / Designated
        .col-xs-3 
          %b Lecturer
        .col-xs-2 
          %b Operations

.row
  .col-xs-12
    #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
      
      // .panel-default as table row
      - @courses.each do |course|

        .panel.panel-default  
          .panel-heading{:role => "tab"}
            .row{"aria-controls" =>"collapse#{course.id}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", "data-target" => "#collapse#{course.id}", :role => "button", :id=> "heading#{course.id}"}
              .col-xs-1.td=course.id
              .col-xs-4.td=course.name
              .col-xs-2.td="#{@SlotStatus[course.id][:assigned] } / #{@SlotStatus[course.id][:slots] }"
              .col-xs-3.td=course.lecturer
              .col-xs-2.td
                %a.btn.btn-default.btn-sm.edit-op-btn{:href=> edit_course_path(course.id) ,"data-toggle" =>"tooltip", "data-placement" => "bottom", "data-title" => "Edit"}
                  %span.glyphicon.glyphicon-edit

          .panel-collapse.collapse{"aria-labelledby" => "heading#{course.id}", :role => "tabpanel", :id=> "collapse#{course.id}"}
            .panel-body
              .row
                .col-xs-10.col-xs-offset-1
                  - if @courses_ta[course.id].length() > 0
                    %ul.list-group

                    -@courses_ta[course.id].each do |ta|

                      %li.list-group-item
                        .row
                          .col-xs-2
                            %a{ "data-toggle" => "modal",  "data-target" => "#myModal-#{course.id}-#{ta.id}"}=ta.fullName()
                          .col-xs-3 
                            - case ta.status
                              - when Student::UNDER_REVIEW
                                %span{class:"label label-default"}="Under Review"
                              - when Student::TEMP_ASSIGNED
                                %span{class:"label label-primary"}="Temporary Assigned"
                              - when Student::EMAIL_NOTIFIED
                                %span{class:"label label-primary"}="Email Notified"
                              - when Student::STUDENT_CONFIRMED
                                %span{class:"label label-success"}="Student Confirmed"
                              - when Student::STUDENT_REJECTED
                                %span{class:"label label-warning"}="Student Rejected"
                              - when Student::ASSIGNED
                                %span{class:"label label-success"}="Assigned"
                              - else
                                %span{class:"label label-danger"}="Unknown"
                          .col-xs-5=link_to('Email', email_ta_notification_path(:id => course.id, :ta_id => ta.id)) +' / ' + link_to('Confirm', confirm_ta_path(:id => course.id, :ta_id => ta.id)) +' / ' +link_to('Delete', delete_ta_path(:id => course.id, :ta_id => ta.id))


                  - else
                    %p No TA assigned yet for this course    
              .divide30
              .row
                .col-xs-1.col-xs-offset-10
                  %a{:href => select_new_ta_path(course.id), :class => "btn btn-primary"} Add new TA




// BOWEI TODO: This will introduce performance issue when in production.
- @courses.each do |course|
  -if @courses_ta[course.id]
    -@courses_ta[course.id].each do |student|
      %div{class:"modal fade", "id" => "myModal-#{course.id}-#{student.id}", "tabindex" => "-1", "role" => "dialog",  "aria-labelledby" => "myModalLabel"}
        %div{class:"modal-dialog", :role => "document"}
          %div{class:"modal-content"}
            %div{class:"modal-header"} 
              %h2 #{student.fullName()}'s Application Form
            %div{class:"modal-body"}
              %table#student.table.table-striped
                %thead
                  %tr
                    %th Field
                    %th Info
                %tbody
                  %tr
                    %td UIN
                    %td= student.uin
                  %tr
                    %td Name
                    %td= student.fullName()
                  %tr
                    %td Advisor
                    %td= student.advisor
                  %tr
                    %td Degree
                    %td
                      - case student.degree
                        - when Student::UNDERGRAD
                          Undergraduate
                        - when Student::MENG
                          M.Eng
                        - when Student::MS
                          MS
                        - when Student::PHD
                          PHD
                  %tr
                    %td GPA
                    %td= student.gpa
                  %tr
                    %td Course Taken
                    %td= student.course_taken
                  %tr
                    %td Course TAed
                    %td= student.course_taed