%p#notice=notice

.row
  .col-xs-12
    %h1{class:"text-left"}="Assign new TA for #{@course.name}"

= form_tag assign_new_ta_path(@course.id), :method => :get, :id => 'tas_form' do
  %table#studentapplications.table.table-striped
    %thead
      %tr
        %th select
        %th detail
        %th Student UIN
        %th Name
        %th GPA
        %th Degree Program
        %th Active Term
        %th Status
    %tbody
      - @studentapplications.each do |studentapplication|
        %tr
          %td= check_box_tag "ids[#{studentapplication.id}]", :id => "ids_#{studentapplication.id}"
          %td= link_to 'Show Detail', "#myModal", "data-toggle" => "modal",  "data-target" => "#myModal-#{studentapplication.id}"
          %td= studentapplication.uin
          %td= studentapplication.fullName()
          %td= studentapplication.gpa
          %td
            - case studentapplication.degree
              - when StudentApplication::UNDERGRAD
                Undergraduate
              - when StudentApplication::MENG
                M.Eng
              - when StudentApplication::MS
                MS
              - when StudentApplication::PHD
                PHD
          %td= studentapplication.active_term
          %td
            - case studentapplication.status
              - when 1
                %span{class:"label label-default"}="Under Review"
              - when 2
                %span{class:"label label-primary"}="Position Assigned"
              - when 3
                %span{class:"label label-success"}="Confirmed"
              - else
                %span{class:"label label-danger"}="Unknown"
    = submit_tag 'Assign', :id => 'assign_ta', class:'btn btn-primary'

/ .row
/   .col-xs-6=link_to "Assign",assign_new_ta_path(:ids),class:"btn btn-primary"

=link_to "Back to courses list", courses_path

- @studentapplications.each do |studentapplication|
  %div{class:"modal fade", "id" => "myModal-#{studentapplication.id}", "tabindex" => "-1", "role" => "dialog",  "aria-labelledby" => "myModalLabel"}
    %div{class:"modal-dialog", :role => "document"}
      %div{class:"modal-content"}
        %div{class:"modal-header"} 
          %h2 #{studentapplication.fullName()}'s Application Form
        %div{class:"modal-body"}
          %table#studentapplication.table.table-striped
            %thead
              %tr
                %th Field
                %th Info
            %tbody
              %tr
                %td UIN
                %td= studentapplication.uin
              %tr
                %td Name
                %td= studentapplication.fullName()
              %tr
                %td Advisor
                %td= studentapplication.advisor
              %tr
                %td Degree
                %td
                  - case studentapplication.degree
                    - when StudentApplication::UNDERGRAD
                      Undergraduate
                    - when StudentApplication::MENG
                      M.Eng
                    - when StudentApplication::MS
                      MS
                    - when StudentApplication::PHD
                      PHD
              %tr
                %td GPA
                %td= studentapplication.gpa
              %tr
                %td Course Taken
                %td= studentapplication.course_taken
              %tr
                %td Course TAed
                %td= studentapplication.course_taed