.row
  .col-xs-12
    %h1{class:"text-left"}="Assign new TA for #{@course.name}"

.divide20

.row
  .col-xs-12
    %p.lead{class:"text-left"}="Professor #{@course.lecturer}'s suggestion for this course is: #{@suggestion}"

= form_tag assign_new_ta_path(@course.id), :method => :get, :id => 'tas_form' do
  /  The usage of following .hidden is to store semester and year if referer_url is from courses_index and has 
  / corresponding filter parameters set
  .hidden
    - if @semester_and_year["semester"] != nil && @semester_and_year["year"] != nil
      %input{"name"=>"semester", "value"=>@semester_and_year["semester"], "type"=>"text"}
      %input{"name"=>"year", "value"=>@semester_and_year["year"], "type"=>"text"}
  
  .row
    .col-xs-12
      .panel.panel-default.remove-margin.pseudo-table-heading
        / .panel-heading Panel heading without title
        .panel-body
          .col-xs-1 
            %b Select
          .col-xs-2
            %b Position
          .col-xs-1
            %b Student UIN
          .col-xs-2
            %b Name
          .col-xs-1
            %b GPA
          .col-xs-2
            %b Degree Program
          .col-xs-1
            %b Guarantee
          .col-xs-1 
            %b Detail
  .row
    .col-xs-12
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}

        - @studentapplications.each do |studentapplication|
          .panel.panel-default  
            .panel-heading{:role => "tab"}
              .row{"aria-controls" =>"collapse#{studentapplication.id}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", "data-target" => "#collapse#{studentapplication.id}", :role => "button", :id=> "heading#{studentapplication.id}"}
                .col-xs-1
                  // need to refer "http://apidock.com/rails/ActionView/Helpers/FormTagHelper/check_box_tag" to see API of  check_box_tag
                  - if @student_application_info[studentapplication.id]['assignable']
                    =check_box_tag "ids[#{studentapplication.id}]", :id => "ids_#{studentapplication.id}"
                .col-xs-2
                  %select#position.form-control{:name => "positions[#{studentapplication.id}]", :id => "positions_#{studentapplication.id}"}
                    -@student_application_info[studentapplication.id]['assignable_position'].each do |assignable_position|
                      -assignable_position.each do |key, val|
                        %option{:value => key}= "#{val}"

                .col-xs-1= studentapplication.uin
                .col-xs-2= studentapplication.fullName()
                .col-xs-1= studentapplication.gpa
                .col-xs-2= studentapplication.degree
                .col-xs-1= studentapplication.guaranteeTA
                .col-xs-1= link_to 'Detail', "#myModal", "data-toggle" => "modal",  "data-target" => "#myModal-#{studentapplication.id}"
            .panel-collapse.collapse{"aria-labelledby" => "heading#{studentapplication.id}", :role => "tabpanel", :id=> "collapse#{studentapplication.id}"}
              .panel-body
                .row
                  .col-xs-10.col-xs-offset-1
                    %ul.list-group
                      -if @student_application_info[studentapplication.id].has_key?('status')
                        %p Assigned courses
                        %li.list-group-item
                          .row
                            -@student_application_info[studentapplication.id]['status'].each do |student_status|
                              .col-xs-4= student_status['Course']
                              .col-xs-3
                                -case student_status['Position']
                                  -when AppCourseMatching::FULLTA
                                  Full TA
                                  -when AppCourseMatching::HALFTA
                                  Half TA
                              .col-xs-2
                                -case student_status['app_status']
                                  - when StudentApplication::UNDER_REVIEW
                                  %span{class:"label label-default"}="Under Review"
                                  - when StudentApplication::TEMP_ASSIGNED
                                  %span{class:"label label-primary"}="Temporary Assigned"
                                  - when StudentApplication::EMAIL_NOTIFIED
                                  %span{class:"label label-primary"}="Email Notified"
                                  - when StudentApplication::STUDENT_CONFIRMED
                                  %span{class:"label label-success"}="Student Confirmed"
                                  - when StudentApplication::STUDENT_REJECTED
                                  %span{class:"label label-warning"}="Student Rejected"
                                  - when StudentApplication::ASSIGNED
                                  %span{class:"label label-success"}="Assigned"
                                  - else
                                  %span{class:"label label-danger"}="Unknown"
                      -else
                        %p No courses have been assigned yet for this student
                    %ul.list-group
                      -if @student_application_info[studentapplication.id].has_key?('requesters')
                        %p Requesters
                        %li.list-group-item
                          .row
                            -@student_application_info[studentapplication.id]['requesters'].each do |student_status|
                              .col-xs-4= student_status['Course']
                              .col-xs-3= student_status['Lecturer']
                      -else 
                        %p No lecturers have requested this student

  = submit_tag 'Assign', :id => 'assign_ta', class:'btn btn-primary'

%br
%a{href:courses_path({"semester"=>@semester_and_year["semester"], "year"=>@semester_and_year["year"]})+ "#heading#{@course.id}" , class:"back-to-class-list" } Back to courses list

- @studentapplications.each do |studentapplication|
  %div{class:"modal fade", "id" => "myModal-#{studentapplication.id}", "tabindex" => "-1", "role" => "dialog",  "aria-labelledby" => "myModalLabel"}
    %div{class:"modal-dialog", :role => "document"}
      %div{class:"modal-content"}
        %div{class:"modal-header"} 
          %h2 #{studentapplication.fullName()}'s Application Form
        %div{class:"modal-body"}
          %table#studentapplication.table.table-striped
            %thead
              %tr
                %th Field
                %th Info
            %tbody
              %tr
                %td Name
                %td= studentapplication.fullName()
              %tr
                %td UIN
                %td= studentapplication.uin
              %tr
                %td Email
                %td= studentapplication.email
              %tr
                %td Degree
                %td=studentapplication.degree
              %tr
                %td Advisor
                %td= studentapplication.advisor
              %tr
                %td GPA
                %td= studentapplication.gpa
              %tr
                %td Course Taken
                %td= studentapplication.course_taken
              %tr
                %td Course TAed Before
                %td= studentapplication.course_taed
              %tr
                %td Prefered Areas
                %td= studentapplication.preferred_area
              %tr
                %td Prefered Courses
                %td= studentapplication.preferred_course
              %tr
                %td Notes
                %td= studentapplication.note
              